*{
    font-style:sans-serif
        
    
    
}
.inputForm{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    
    
    
    
    
   
    
}
input{
background-color: white;
padding: 5px;




}
.form-control {
    background-color: white;
    margin-bottom: 15px;
    
}

.fondo{
   
   width: 100%;
}
